
<div class="col-md-6 col-md-offset-3">
    <h2>Login</h2>
    <form name="form" (ngSubmit)="f.form.valid && update_pass()" #f="ngForm" novalidate>
        <div class="form-group">
           <label for="email">Email</label>
           <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel"  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"  required />
            <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
              <div [hidden]="!email.hasError('required')">Email is required</div>
              <div [hidden]="!email.hasError('pattern')">Invalid Email</div>
           </div>
        </div>

        <div class="form-group">
           <label for="code">Activation Code</label>
           <input type="text" class="form-control" name="code" [(ngModel)]="model.code" #code="ngModel"  required />
            <div [hidden]="code.valid || code.pristine" class="alert alert-danger">
              <div [hidden]="!code.hasError('required')">Code is required</div>  
           </div>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />

            <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
              <div [hidden]="!password.hasError('required')">Password is required</div>
              <div [hidden]="!password.hasError('pattern')">Invalid Code</div>
           </div>
        </div>
         <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="model.confirmPassword" #confirmPassword="ngModel" validateEqual="password"  required />

            <div [hidden]="confirmPassword.valid || confirmPassword.pristine" class="alert alert-danger">
              Passwords did not match
           </div>
        </div>
        <div class="form-group">
            <button [disabled]="!f.form.valid" class="btn btn-primary">Update Password</button>
        </div>
    </form>
</div>
