<div class="toolbar_container" style="padding-left: 50px;">
   <form name="form" (ngSubmit)="f.form.valid && updateProfile()" #f="ngForm" novalidate>
 <div class="address" style="float: left;">
    <div class="row">
            <div class="input-field col s12 center">
                 <h4 class="signIn-Header">Contact Info</h4>    
            </div>
    </div>

  <div class="row margin">
        <div class="input-field col s4">
            <div class="usernameError" ></div>
            <input id="address" type="text" class="validate"  name="address" [(ngModel)]="_address" #address="ngModel" required />
                <label for="address" class="center-align login-label">Address</label>    
        </div>
  </div>

  <div class="row margin" style="float: left">
        <div class="input-field col s11">
             <div class="usernameName"></div>
                    <input id="username" type="text" class="validate"  name="city" [(ngModel)]="_city" #city="ngModel" required />
                    <label for="city" class="center-align login-label">City</label>     
        </div>
   </div>

   <div class="row margin">
   	
        <div class="input-field col s2">
            <div class="usernameError" ></div>
            <input id="address" type="text" class="validate"  name="state" [(ngModel)]="_state" #state="ngModel" required />
                <label for="address" class="center-align login-label">State</label>    
        </div>
  </div>

  <div class="row margin"  style="float: left">
        <div class="input-field col s11">
             <div class="usernameName"></div>
                    <input id="username" type="text" class="validate"  name="Country" [(ngModel)]="_country" #country="ngModel" required />
                    <label for="city" class="center-align login-label">Country</label>     
        </div>
   </div> 
   <div class="row margin">
   	
        <div class="input-field col s2">
            <div class="usernameError" ></div>
            <input id="address" type="text" class="validate"  name="postcode" [(ngModel)]="_postcode" #postcode="ngModel" required />
                <label for="postcode" class="center-align login-label">Postcode</label>    
        </div>
  </div>
</div>
  <div class="company_profile">
<div class="row">
            <div class="input-field col s12 center">
                 <h4 class="signIn-Header">Company Profile</h4>    
            </div>
    </div>
  	 <div class="row margin">
        <div class="input-field col s4">
            <div class="usernameError" ></div>
            <input id="institution" type="text" class="validate"  name="institution" [(ngModel)]="_institution" #institution="ngModel" required />
                <label for="institution" class="center-align login-label">Institution</label>    
        </div>
  </div>

  <div class="row margin" style="float: left">
        <div class="input-field col s11">
             <div class="usernameName"></div>
                    <input id="occupation" type="text" class="validate"  name="occupation" [(ngModel)]="_occupation" #occupation="ngModel" required />
                    <label for="city" class="center-align login-label">occupation</label>     
        </div>
   </div>


  <div class="row margin" style="float: left">
        <div class="input-field col s11">
             <div class="usernameName"></div>
                    <input id="company_type" type="text" class="validate"  name="company_type" [(ngModel)]="_company_type" #company_type="ngModel" required />
                    <label for="city" class="center-align login-label">Company Type</label>     
        </div>
   </div>


   <div class="row margin">
        <div class="input-field col s4">
            <div class="usernameError" ></div>
            <input id="company_role" type="text" class="validate"  name="company_role" [(ngModel)]="_company_role" #company_role="ngModel" required />
                <label for="company_role" class="center-align login-label">Role</label>    
        </div>
  </div>

  <div class="row margin" style="float: left">
        <div class="input-field col s11">
             <div class="usernameName"></div>
                    <input id="desc_of_company" type="text" class="validate"  name="desc_of_company" [(ngModel)]="_desc_of_company" #desc_of_company="ngModel" required />
                    <label for="city" class="center-align login-label">desc_of_company</label>     
        </div>
   </div>


   <div class="row margin">
        <div class="input-field col s4">
            <div class="usernameError" ></div>
            <input id="webpage" type="text" class="validate"  name="webpage" [(ngModel)]="_webpage" #webpage="ngModel" required />
                <label for="webpage" class="center-align login-label">Web Page</label>    
        </div>
  </div>
  	</div>


    <div class="row">
        <div class="input-field col s2">
               
                 <button class="btn col s12 primary-btn login-btn">Update Profile</button>
        </div>
   </div>
</form>  
</div>
