<div class="content_container">
  <form>
    <div class="grid_container">

      <div class="info_container">
        <h4>Contact Info</h4>
      </div>
      <div class="info_container">
        <div class="usernameError"></div>

        <label for="lbl_name">Name</label>
        <input type="text" name="txt_name" id="name" placeholder="Name" [(ngModel)]="_name" #name="ngModel" required />
      </div>

      <div class="info_container">
        <div class="usernameError"></div>

        <label for="lbl_institution">Institution</label>
        <input type="text" name="txt_institution" id="institution" placeholder="Institution" [(ngModel)]="_institution" #institution="ngModel" required />
      </div>


      <div class="info_container">
        <div class="usernameName"></div>
       
        <label for="lbl_occupation">Occupation</label>
        <input type="text" name="txt_occupation" id="occupation" placeholder="Occupation" [(ngModel)]="_occupation" #occupation="ngModel" required />
      </div>



      <div class="info_container">

        <div class="usernameError"></div>


        <label for="lbl_phone">Phone</label>
        <input type="text" name="txt_phone" id="phone" placeholder="Phone" [(ngModel)]="_phone" #phone="ngModel" required />
      </div>

      <div class="info_container">
        <div class="usernameError"></div>


        <label for="lbl_business_name">Address</label>
        <input type="text" name="txt_name" id="address" placeholder="Address" [(ngModel)]="_address" #address="ngModel" required />
      </div>


      <div class="info_container">
        <div class="usernameName"></div>

        <label for="lbl_city">City</label>
        <input type="text" name="txt_city" id="city" placeholder="City" [(ngModel)]="_city" #city="ngModel" required />
      </div>



      <div class="info_container">

        <div class="usernameError"></div>


        <label for="lbl_state">State</label>
        <input type="text" name="txt_state" id="state" placeholder="State" [(ngModel)]="_state" #state="ngModel" required />
      </div>
      <div class="info_container">
        <div class="usernameName"></div>

        <label for="lbl_country">Country</label>
        <input type="text" name="txt_country" id="country" placeholder="Country" [(ngModel)]="_country" #country="ngModel" required />
      </div>

      <div class="info_container">
        <div class="usernameError"></div>

        <label for="lbl_postcode">Postcode</label>
        <input type="text" name="txt_postcode" id="postcode" placeholder="Postcode" [(ngModel)]="_postcode" #postcode="ngModel" required />
      </div>



    </div>
    <div class="grid_container">

      <div class="info_container">
        <h4>Company Info</h4>
      </div>

      <div class="info_container">
        <div class="usernameError"></div>

        <label for="lbl_name">Name</label>
        <input type="text" name="txt_name" id="name" placeholder="Name" [(ngModel)]="_name" #name="ngModel" required />
      </div>

      <div class="info_container">
        <div class="usernameError"></div>

        <label for="lbl_type">Company Type</label>
        <input type="text" name="txt_type" id="type" placeholder="Company Type" [(ngModel)]="_type" #type="ngModel" required />
      </div>


      <div class="info_container">
        <div class="usernameName"></div>

        <label for="lbl_role">Company Role</label>
        <input type="text" name="txt_role" id="role" placeholder="Company Role" [(ngModel)]="_role" #role="ngModel" required />
      </div>



      <div class="info_container">

        <div class="usernameError"></div>


        <label for="lbl_description">Description of Company</label>
        <input type="text" name="txt_description" id="description" placeholder="Description of Company" [(ngModel)]="_description" #description="ngModel" required />
      </div>

      <div class="info_container">
        <div class="usernameError"></div>


        <label for="lbl_webpage">Webpage</label>
        <input type="text" name="txt_webpage" id="webpage" placeholder="Webpage" [(ngModel)]="_webpage" #webpage="ngModel" required />
      </div>

      <div class="info_container">
        <button type="button" class="btn_primary">
          Save
        </button>
      </div>
      

    </div>

  </form>
  

</div>
