<div class="col-md-6 col-md-offset-3">
    <h2>Reset Your Password</h2>
    <form name="form" (ngSubmit)="f.form.valid && reset_pass()" #f="ngForm" novalidate>
        <div class="form-group">
           <label for="email">Enter your email address and we will send you a code to reset your password.</label>
           <input type="text"  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" #email="ngModel" class="form-control" name="email" [(ngModel)]="email1"  required />
           <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
    		  <div [hidden]="!email.hasError('required')">Email is required</div>
     		  <div [hidden]="!email.hasError('pattern')">Invalid Email</div>
           </div>
        </div>
        <div class="form-group">
           <button [disabled]="!f.form.valid" class="btn btn-primary">Send passwprd reset code</button>
        </div>
    </form>
</div>
