<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <img src="//placehold.it/1000x600" class="img-responsive">
  </div>
</ng-template>

<ng-template #template_NF>
  <div class="modal-header">
    <h4 class="modal-title pull-left">New Folder</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <input type="text" placeholder="Folder Name"><br>
    <button> Create </button> 
    <button (click)="modalRef.hide()"> Cancel</button>
  </div>
</ng-template>

<div class="toolbar_container">

                <button type="button" class="btn_secondary">
                    <i class="fa fa-times icon"></i>Delete</button>
                <button type="button" class="btn_secondary">
                    <i class="fa fa-external-link-square icon"></i>Move</button>
                <button type="button" class="btn_secondary">
                    <i class="fa fa-copy icon"></i>Copy</button>
                <button type="button" class="btn_secondary">
                    <i class="fa fa-chain icon"></i>Copy Link</button>
                <button type="button" class="btn_secondary">
                    <i class="fa fa-pencil icon"></i>Rename</button>
                <button type="button" class="btn_secondary">
                    <i class="fa fa-code icon"></i>Embed</button>
                <button type="button" class="btn_secondary">
                    <i class="fa fa-folder icon"></i>Inactive Files</button>
                <button type="button" class="btn_secondary">
                    <i class="fa fa-flag icon"></i>Abuses</button>
                <button type="button" class="btn_secondary">
                    <i class="fa fa-folder-open icon"></i>Create Folder</button>
                <input type="file" id="fileLoader" name="files" #file ng2FileSelect [uploader]="uploader">
                <button id="btnOpenFileDialog" (click)="file.click()" class="btn_primary">
                    <i class="fa fa-cloud-upload icon"></i>Upload</button>
            </div>
    <div class="content_container">
     <button>CLick</button>
    <div class="grid_container">
     <div class="row">    
         <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th width="50%">Name</th>
                        <th>Size</th>
                        <th>Date</th>
                        <th>Uploaded</th>
                        <th>Processed</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of uploader.queue" [contextMenu]="componentMenu"
      [contextMenuSubject]="item">
                        <td (execute)="openModal(template)" *ngIf="!hideVal" ><strong>{{ item.file.name }}</strong></td>
                        <td *ngIf="hideVal" > <input type="text" [value]="item.file.name">
                        <td nowrap>{{ item.file.size/1024/1024|number:'.2'}} MB</td>
                        <td nowrap contenteditable='true'>{{today|date}}</td>
                        <td class="text-center">
                            <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                           <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                        </td>
                         <td class="text-center">
                            <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                           <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                        </td>
                        <td nowrap>
                            <button type="button" class="btn btn-success btn-xs"
                              (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                <span class="glyphicon glyphicon-upload"></span> Upload
                            </button>
                            <button type="button" class="btn btn-danger btn-xs"
                              (click)="item.remove()">
                                <span class="glyphicon glyphicon-trash"></span> Remove
                            </button>
                        </td>
                    </tr>
               </tbody>
            </table>
      <context-menu #componentMenu>
            <ng-template contextMenuItem (execute)="openModal(template)">
              Preview
            </ng-template>
          
            <ng-template contextMenuItem let-item (execute)="showText()">
            Rename
            </ng-template>
             <ng-template contextMenuItem let-item (execute)="showText()">
             Move To
            </ng-template>
       
             <ng-template contextMenuItem let-item (execute)="file.click()">
            Upload File
            </ng-template>
            <ng-template contextMenuItem let-item (execute)="openModal(template_NF)">
            New Collection
            </ng-template>

            <ng-template contextMenuItem let-item (execute)="showText()">
            Remove File
            </ng-template>
    </context-menu>
            
        </div>
    </div>
                    
                </div>
                <div class="draganddrop_container">
                    <div class="dragdroptextcontainer">
                        <div class="draganddrop_text_container">

                            <i class="fa fa-cloud-upload dragdrop_icon" ng2FileDrop
                      [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                      (fileOver)="fileOverBase($event)"
                      [uploader]="uploader"></i>
                            <label class="draganddrop_text">Drag and Drop Here</label> 
                        </div>
                    </div>
                </div>
       </div>



       


