


<div class="col-md-6 col-md-offset-3">
    <h2>Register</h2>
    <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
        <div class="form-group">
            <label for="username">User Name</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />

         <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
            <div [hidden]="!username.hasError('required')">username is required</div>
         </div>
        </div>

        <div class="form-group">
            <label for="name">Email Address</label>
            <input type="text" class="form-control" id="emailaddress" required [(ngModel)]="model.email" name="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" #email="ngModel">
            
            <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
              <div [hidden]="!email.hasError('required')">Email is required</div>
              <div [hidden]="!email.hasError('pattern')">Invalid Email</div>
           </div>
       </div>
      
       
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
            
            <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
              <div [hidden]="!password.hasError('required')">Password is required</div>
           </div>
        </div>

         <div class="form-group">
            <label for="city">city</label>
            <input type="text" class="form-control" name="city" [(ngModel)]="model.city" #city="ngModel" required />
            
            <div [hidden]="city.valid || city.pristine" class="alert alert-danger">
              <div [hidden]="!city.hasError('required')">City is required</div>
           </div>
        </div>
        
        <div class="form-group">
            <button  [disabled]="!f.form.valid" class="btn btn-primary">Sign Up</button>
            <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>