

<div class="col-md-6 col-md-offset-3">
    <h2>Register</h2>
    <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
      
        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="text" class="form-control" id="emailaddress" required [(ngModel)]="email1" name="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" #email="ngModel">
            
            <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
              <div [hidden]="!email.hasError('required')">Email is required</div>
              <div [hidden]="!email.hasError('pattern')">Invalid Email</div>
           </div>
       </div>
      
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="password1" #password="ngModel" required />
            
            <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
              <div [hidden]="!password.hasError('required')">Password is required</div>
           </div>
        </div>

        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="name1" #name="ngModel" required />

         <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
            <div [hidden]="!name.hasError('required')">name is required</div>
         </div>
        </div>

         <div class="form-group">
            <label for="city">city</label>
            <input type="text" class="form-control" name="city" [(ngModel)]="city1" #city="ngModel"/>
        </div>
        <!-- <div class="form-group">
            <label for="state">state</label>
            <input type="text" class="form-control" name="state" [(ngModel)]="state" #state="ngModel"/>
        </div> -->
        <div class="form-group">
            <label for="company_type">Company Type</label>
            <input type="text" class="form-control" name="company_type" [(ngModel)]="company_type1" #company_type="ngModel"/>
        </div>
        
        <div class="form-group">
            <button  [disabled]="!f.form.valid" class="btn btn-primary">Sign Up</button>
            <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>