
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">

<div class="container-fluid">
  <div class="row">
    <div class="mainContent col-md-8">
      <div class="logo">
      </div>
      <div class="section">
        <p class="title-m1">Designing and Building our Health</p>
        <h2 class="h2 title-m2">Modern & energy efficient testing device</h2>

        <div class="tp-banner-container">
          <img src="assets/images/MainBg.jpg">
        </div>
        <br />
        <button type="button" class="btn btn-default inverse">DISCOVER MORE</button>

      </div>
    </div>

    <div class="loginContent col-md-4">
 
      <div id="login-page" class="">
        <div toastContainer></div><br/><br/>
        <div class="col s12 z-depth-6">
        
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>

  </div>


  <footer id="footer-mini">

    <div class="container">
      <div class="">
        <div class="col-md-12">
          <div class="copyrights-message">
            2016 - 2017 ©
            <span>photon</span>. All rights reserved.
          </div>
          <ul class="social-icons">
            <li>
              <a class="si-facebook" href="#">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a class="si-behance" href="#">
                <i class="fa fa-behance"></i>
              </a>
            </li>
            <li>
              <a class="si-twitter" href="#">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
          </ul>
          <!-- .social-icons end -->
        </div>
        <!-- .col-md-12 end -->
      </div>
      <!-- .row end -->
    </div>
    <!-- .container end -->

  </footer>


</div>
