

      <form class="login-form signinform" name="form" (ngSubmit)="loginForm.form.valid && login()" #loginForm="ngForm" novalidate>
        <div class="row">
          <div class="input-field col s12 center">
            <h4 class="signIn-Header">Sign In</h4>
            <p>
              if you don't have an account,
              <a class="signinContainer" [routerLink]="['signup']">Sign Up</a>
            </p>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <div class="usernameError"></div>
            <input id="email" type="email" class="validate" name="email" [(ngModel)]="_email" #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required />
            <label for="email" #eid class="center-align login-label">Email Address</label>
            <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
              <div [hidden]="!email.hasError('required')">Email is required</div>
              <div [hidden]="!email.hasError('pattern')">Invalid Email</div>
            </div>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <div class="usernamePass"></div>
            <input id="password" type="password" class="validate" name="password" [(ngModel)]="_password" #password="ngModel" required />
            <label class="login-label" for="password">Password</label>
            <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
              <div [hidden]="!password.hasError('required')">password is required</div>
            </div>
          </div>
        </div>



        <div class="row margin login-chkbox-container">
          <div class="input-field col s12">
            <input type="checkbox" id="checkbox1" [(ngModel)]="_rememberMe" name="checkbox" />
            <label for="checkbox1">Remember Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <button class="btn col s12 primary-btn login-btn" [disabled]="!loginForm.form.valid">LogIn</button>
            <!-- <button type="button" [disabled]="!loginForm.form.valid" class="btn col s12 primary-btn login-btn">LogIn</button> -->
          </div>
        </div>
        <div class="row margin login-chkbox-container">
          <div class="input-field col s12" >
            <a class="signinContainer" style="float:right" [routerLink]="['resetpassword']">Forgot Password ?</a>
          </div>
        </div>
       
      </form>
    
