.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.login-label,.validate{
	padding-left: 8px !important;
}
.myDiv{
  padding-left:100px;
  margin-left: 100px;
}